body{
background-color:#E0B1AE;
}


header.principal{
text-align:center;
border:5px solid red;
background-color:#E0B1AE;
}




aside.divs{
float:right;
width:80%;
height:650px;
border:3px solid black;
background-color:silver;
}

div.ventas{
border:3px solid black;
width:80px;
height:50px;
}

section.segundo{
display:flex; 
flex-direction:column;
width:200px;
height:650px;


}
div.hijos{
border:5px solid red;
width:250px;
height:300px;
margin:0;
}

img.img__hijo{
width:250px;
height:153px;
}



footer{text-align:center;

}

div.ventas{
width:150
}

