
body { 
background-color: red;  
background-image:url("https://cdn.glitch.global/d08021c1-a129-48a2-a296-20cdcf78faa1/de741a70-1cb3-402d-8e7b-0a6526c02f53.image.png?v=1685397361312");
}

div.superior{

border:1px solid black;
background-color :rgb(255, 0, 0, 0.2);
 
color:white;
height:150px;
width:100%;

}
div.categorias{
color:white;
text-align:center;
margin:200px;
}
h1{text-align:center;

}

img.botones {
height:300px;
width:400px;
margin:30px;
float: left;
}
img.logos{
height:150px;
width:200px;
}
nav.blogs{

margin:-150px;
margin-bottom:50px;
padding:30px;

}
h2.blogs{
border:1px solid black;
margin:20px;
text-align:center;
float: left;
}