body{
background-color:#E0B1AE;
}


header.principal{
text-align:center;
border:10px solid black;
background-color:#E0B1AE;
}




aside.divs{
grid-
float:right;
width:60%;
height:650px;
border:1px solid black;
background-color:blue;


}
section.segundo{

display:flex; 
flex-direction:column;
width:250px;
height:650px;


}
div.hijos{
border:5px solid red;
width:240px;
height:300px;
margin:0;
}

img.img__hijo{
width:240px;
height:153px;
}



footer{text-align:center;

}