header.principal{
border:10px solid black;
}




main.divs{
display:flex;
flex-direction:column;
width:99.5%;
border:1px solid black;



}
div.segundo{
border:10px solid black;
display:flex; 
flex-direction:column;
width:250px;
height:500px;


}
div.hijos{
border:1px solid black;
width:250px;
height:200px;
}