

body {border: 1px solid black ;
width:100%;
 margin:auto;
padding:auto;
font-family: ;
}

div.container{
background-image:url("https://cdn.glitch.global/d08021c1-a129-48a2-a296-20cdcf78faa1/73d31f1f-84ef-4ff8-b19b-cbe93cce97bb.image.png?v=1685541736167");
background-size: 100%;
background-repeat: no-repeat;
height:1000px;
width:100%;
box-shadow: 15px 5px 10px red;

}

div.superior{
border:0px solid red;
background-color :rgb(255, 0, 0, 0.2);
color:white;
height:150px;
width:100%;

}
div.categorias{
color:white;
text-align:center;
margin:auto;
width:100%;
}


h1{text-align:center;

}

img.botones {
height:250px;
width:250px;
margin:20px;
box-shadow: 15px 5px 10px black;
border:0.5px solid silver;
border-radius: 25px 25px 25px 25px;

}
img.logos{
height:150px;
width:200px;

}
nav.blogs{

width:480px;
margin:-150px;
padding:50px;

}
h2.blogs{
border:1px solid black;
margin:auto;
text-align:center;
width:150px;
float: left;

}
div.blogs{
margin-left:800px;
width:100%;

}

h3{
text-align:center;
color:white;

}

div.imgfotos{
justify-content:center;
text-align:center;
display: flex;
width:100%;
height:300px;

}

div.imgfotos2{
margin-top:30px;
justify-content:center;
text-align:center;
display: flex;
width:100%;
height:50px;
}

footer{

background-color:black;
width:100%;
height:250px;
margin-top:500px;
background-repeat: no-repeat;
}

 
